html{
    scroll-behavior: smooth;
}
body{
    text-align: center;
}
section{
    height: 100vh;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
header{
    height: 80px;
    font-size: 4rem;
    color: beige;
    padding: 20px;
    position: sticky;
    top: 0;
}
.footer{
    position: sticky;
    bottom: 0;
    background-color: black;
    font-size: 3rem;

}
.footer a{
    color: white;
    text-decoration: none;
}