*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height:100vh;
    padding: 20px;
}
.container{
  min-height: 300px;
  display: grid;
  grid-template-columns:repeat(4,1fr);
  gap: 1rem;
}
.box{
   background-color: black;
   color: white;
   font-size: 4rem;
   display: flex;
   justify-content: center;
   align-items: center;
}
.box:first-child{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: gray;
}
.box:nth-child(9){
    grid-row-start: 4;
    grid-row-end: 6;
}
.box:nth-child(4){
    grid-row: 8/2;
}


