*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    padding: 20px;
}
.container{
    border: 2px solid red;
    margin-inline: auto;
    max-width: 800px;
    min-height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.box{
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
    min-width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box:nth-child(2){
    background-color: red;
    order: 0;
}